<div class="top-bar">
    <div class="row">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Lorank 8</li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="#">Status</a></li>
                <li><a href="#">Admin</a></li>
                <li><a href="#">Logs</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
