<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lorank 8</title>
    <link rel="stylesheet" href="/static/css/lorank8.css" media="screen" title="no title">
    <script src="/static/js/lorank8.js" charset="utf-8"></script>
</head>
<body>
    {{>header}}
    <div class="row">
        {{{body}}}
    </div>
    {{>footer}}
</body>
</html>
